.counter-actions {
  gap: 10px;
  transition: all 10s ease-in-out;

  &.gt-5 {
    flex-direction: row-reverse;
  }
}

.status-bar {
  // position: absolute;
  // top: 5;
  // right: 0;

  margin: 1px 5px;
  width: 30px;
  height: 10px;

  border-radius: 50px;
  background-color: #ccc;

  &.completed {
    background-color: green;
  }

  &.incompleted {
    background-color: red;
  }
}

.todos {
  margin-top: 10px;

  max-width: 80%;
  max-height: 400px;

  overflow: auto;
}
.todo-item {
  border: 1px solid #ccc;
  height: 100px;
  width: 100%;
  padding: 1rem;
  color: rgb(66, 64, 64);

  flex-direction: column;

  // position: relative;

  .icon {
    // position: absolute;
    // top: 5;
    // right: 0;

    margin: 5px;
    width: 30px;
    height: 10px;

    border-radius: 50px;
    background-color: #ccc;

    &.completed {
      background-color: green;
    }

    &.incompleted {
      background-color: red;
    }
  }

  small {
    text-decoration: underline;

    cursor: pointer;

    &:hover {
      color: #888181;
    }
  }
}

.my-input {
  height: 40px;
  font-size: 30px;
  outline: none;
  border: none;
  border-bottom: 3px solid #cbcbcb;
  text-align: center;
  margin: 1rem 0 1rem 0;
  background-color: #e4e4e4;

  &.gt-5 {
    border-bottom: 3px solid #000;
  }
}

button {
  width: 80px;
  height: 40px;
  outline: none;
  background: none;
  border: none;

  border-top-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: black;
  color: white;

  transition: all 0.3s ease-in;
  font-size: 15px;

  // &:hover {
  //   background-color: rgb(168, 38, 168);
  //   box-shadow: 1px 1px 0.2px 0.2px rgba(0, 0, 0, 0.1);
  // }

  // &.gt-5 {
  //   background-color: rgb(0, 0, 0);
  // }
}

.app {
  background-color: var(--primary-color);
  font-family: var(--font-base);

  min-height: 100vh;
  flex-direction: column;
}

.app__whitebg {
  background-color: var(--white-color);
}

.app__primarybg {
  background-color: var(--primary-color);
}

.app__container {
  width: 100%;
  min-height: 100vh;

  display: flex;
  flex-direction: row;
}

.app__flex {
  display: flex;
  justify-content: center;
  align-items: center;
}

.app__wrapper {
  flex: 1;
  width: 100%;
  flex-direction: column;
  padding: 4rem 2rem;

  @media screen and (max-width: 450px) {
    padding: 4rem 1rem 2rem;
  }
}

.copyright {
  width: 100%;
  // padding: 2rem 0 0;

  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  align-items: flex-end;

  p {
    text-transform: uppercase;
    color: var(--black-color);
  }
}

.head-text {
  font-size: 2.75rem;
  font-weight: 800;
  text-align: center;
  color: var(--black-color);
  text-transform: capitalize;

  span {
    color: var(--secondary-color);
  }

  @media screen and (min-width: 2000px) {
    font-size: 4rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 2rem;
  }
}

.p-text {
  font-size: 0.8rem;
  text-align: left;
  color: var(--gray-color);
  line-height: 1.5;

  @media screen and (min-width: 2000px) {
    font-size: 1.75rem;
  }
}

.bold-text {
  font-size: 1rem;
  font-weight: 800;
  color: var(--black-color);
  text-align: left;

  @media screen and (min-width: 2000px) {
    font-size: 2rem;
  }

  @media screen and (max-width: 450px) {
    font-size: 0.9rem;
  }
}

.app__social {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  div {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: var(--white-color);
    margin: 0.25rem 0;
    border: 1px solid var(--lightGray-color);

    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.3s ease-in-out;

    svg {
      width: 15px;
      height: 15px;
      color: var(--gray-color);
    }

    &:hover {
      background-color: var(--secondary-color);
      border-color: var(--secondary-color);

      svg {
        color: var(--white-color);
      }
    }

    @media screen and (min-width: 2000px) {
      width: 70px;
      height: 70px;

      margin: 0.5rem 0;

      svg {
        width: 30px;
        height: 30px;
      }
    }
  }
}

.app__navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  padding: 1rem;

  .app__navigation-dot {
    width: 10px;
    height: 10px;
    border-radius: 50%;
    background-color: #cbcbcb;
    margin: 0.5rem;

    transition: background-color 0.2s ease-in-out;

    &:hover {
      background-color: var(--secondary-color);
    }

    @media screen and (min-width: 2000px) {
      width: 20px;
      height: 20px;
    }
  }
}

@media screen and (max-width: 500px) {
  .app__navigation,
  .app__social {
    display: none;
  }

  .copyright {
    padding: 2rem;
  }
}
